<header id="header" class="header position-relative">
    
    <!-- Main Header -->
    <div class="main-header">
        <div class="container-fluid container-xl">
            <div class="d-flex py-3 align-items-center justify-content-between">

                <div class="d-flex align-items-center">
                    <!-- Logo -->
                    <a href="{{ path('app_home') }}" class="logo d-flex align-items-center me-3">
                        <!-- Uncomment the line below if you also wish to use an image logo -->
                        <!-- <img src="assets/img/logo.webp" alt=""> -->
                        <h1 class="sitename">store</h1>
                    </a>

                    <!-- Actions -->
                    <div class="header-actions d-flex align-items-center justify-content-end">
    
                        <!-- Mobile Search Toggle -->
                        <button class="header-action-btn mobile-search-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#catalogMenu" aria-expanded="false" aria-controls="catalogMenu">
                            <span class="fw-bold">Catalogue</span>
                        </button>
    
                        <!-- Mobile Search Toggle -->
                        <button class="header-action-btn mobile-search-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#mobileSearch" aria-expanded="false" aria-controls="mobileSearch">
                            <span class="fw-bold">Clients</span>
                        </button>
    
                        <!-- Mobile Search Toggle -->
                        <button class="header-action-btn mobile-search-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#mobileSearch" aria-expanded="false" aria-controls="mobileSearch">
                            <span class="fw-bold">Comandes</span>
                        </button>
    
                        <!-- Mobile Search Toggle -->
                        <button class="header-action-btn mobile-search-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#mobileSearch" aria-expanded="false" aria-controls="mobileSearch">
                            <i class="bi bi-search"></i>
                        </button>

                        
                        <!-- Mobile Navigation Toggle -->
                        <i class="mobile-nav-toggle d-xl-none bi bi-list me-0"></i>
                    </div>
                </div>

                <div class="">
                    <!-- Actions -->
                    <div class="header-actions d-flex align-items-center justify-content-end">
    
                        <!-- Mobile Search Toggle -->
                        <button class="header-action-btn mobile-search-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#mobileSearch" aria-expanded="false" aria-controls="mobileSearch">
                            <i class="bi bi-search"></i>
                        </button>
    
                        <div class="dropdown account-dropdown">
                            <!-- Account -->
                            <div class="dropdown account-dropdown">
                                <div class="dropdown account-dropdown">
                                    <button class="header-action-btn" data-bs-toggle="dropdown">
                                    <i class="bi bi-person"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <div class="dropdown-header">
                                            <h6>Welcome to <span class="sitename">eStore</span></h6>
                                            <p class="mb-0">Access account &amp; manage orders</p>
                                        </div>
                                        <div class="dropdown-body">
                                            <a class="dropdown-item d-flex align-items-center" href="account.html">
                                            <i class="bi bi-person-circle me-2"></i>
                                            <span>My Profile</span>
                                            </a>
                                            <a class="dropdown-item d-flex align-items-center" href="account.html">
                                            <i class="bi bi-bag-check me-2"></i>
                                            <span>My Orders</span>
                                            </a>
                                            <a class="dropdown-item d-flex align-items-center" href="account.html">
                                            <i class="bi bi-heart me-2"></i>
                                            <span>My Wishlist</span>
                                            </a>
                                            <a class="dropdown-item d-flex align-items-center" href="account.html">
                                            <i class="bi bi-gear me-2"></i>
                                            <span>Settings</span>
                                            </a>
                                        </div>
                                        <div class="dropdown-footer">
                                            <a href="login-register.html" class="btn btn-primary w-100 mb-2">Sign In</a>
                                            <a href="login-register.html" class="btn btn-outline-primary w-100">Register</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                                
                        
                        <!-- Mobile Navigation Toggle -->
                        <i class="mobile-nav-toggle d-xl-none bi bi-list me-0"></i>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- Mobile Search Form -->
    <div class="collapse" id="catalogMenu">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('product_list')}}">Liste des produits</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('app_category_list')}}">Catégories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('app_brand_list')}}">Marques</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <!-- Mobile Search Form -->
    <div class="collapse" id="mobileSearch">
        <div class="container">
            <form class="search-form">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for products">
                    <button class="btn" type="submit">
                    <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- Mobile Search Form -->
    <div class="collapse" id="mobileSearch">
        <div class="container">
            <form class="search-form">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for products">
                    <button class="btn" type="submit">
                    <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- Mobile Search Form -->
    <div class="collapse" id="mobileSearch">
        <div class="container">
            <form class="search-form">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for products">
                    <button class="btn" type="submit">
                    <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- Mobile Search Form -->
    <div class="collapse" id="mobileSearch">
        <div class="container">
            <form class="search-form">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for products">
                    <button class="btn" type="submit">
                    <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- Mobile Search Form -->
    <div class="collapse" id="mobileSearch">
        <div class="container">
            <form class="search-form">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for products">
                    <button class="btn" type="submit">
                    <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>


</header>