{% extends "base.html.twig" %}
{% block body %}

{% include "layout/_admin_header.html.twig" %}

<section id="account" class="account section">
	<div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
		<!-- Mobile Menu Toggle -->
		<div class="mobile-menu d-lg-none mb-4">
			<button class="mobile-menu-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#profileMenu">
			<i class="bi bi-grid"></i>
			<span>Menu</span>
			</button>
		</div>

            <div class="content-area">
                <div class="tab-content">
                    <!-- Orders Tab -->
                    <div class="tab-pane fade show active" id="orders" role="tabpanel">
                        <div class="section-header aos-init aos-animate" data-aos="fade-up">
                            <h2>{% block content_title %}A changer{% endblock %}</h2>
                            <div class="header-actions">
                                {# <div class="search-box">
                                    <i class="bi bi-search"></i>
                                    <input type="text" placeholder="Search orders...">
                                </div> #}

                                {% block header_actions %}                               
                                {% endblock %}
                                {# <div class="dropdown">
                                    <button class="filter-btn" data-bs-toggle="dropdown">
                                    <i class="bi bi-funnel"></i>
                                    <span>Filter</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">All Orders</a></li>
                                        <li><a class="dropdown-item" href="#">Processing</a></li>
                                        <li><a class="dropdown-item" href="#">Shipped</a></li>
                                        <li><a class="dropdown-item" href="#">Delivered</a></li>
                                        <li><a class="dropdown-item" href="#">Cancelled</a></li>
                                    </ul>
                                </div> #}
                            </div>
                        </div>
                        <div class="">
                            {% block content %}
                            <!-- Placeholder content -->
                            {% endblock %}
                            
                        </div>
                    </div>
                    
                </div>
            </div>
	</div>
</section>

</div>
</div>
{% endblock %}
