{% extends "base.html.twig" %}

{% block title %}Customer Area{% endblock %}

{% block body %}

{% include "layout/_front_header.html.twig" %}

<div class="page-title light-background">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Catalogue des produits</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a href="index.html">Accueil</a></li>
                <li class="current">Catalogue des produits</li>
            </ol>
        </nav>
    </div>
</div>

<div class="container">
    {% block content %}{% endblock %}
</div>

<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center active">
    <i class="bi bi-arrow-up-short"></i>
</a>
{% endblock %}
